server:
  port: 8082

spring:
  application:
    name: course
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-course
    username: postgres
    password: mcff
  jpa:
    hibernate:
      ddl-auto: update
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true
ead:
  api:
    authuser: 'http://localhost:8087'